{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.dev.js"
      }
    }
  },
  "rules": {
    "global-require": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["off"],
    "react/prefer-stateless-function": "off",
    "react/no-did-update-set-state": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-unused-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "react/no-string-refs": "off",
    "react/sort-comp": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-await-in-loop": "off",
    "no-nested-ternary": "off",
    "no-mixed-operators": "off",
    "no-case-declarations": "off",
    "no-unused-expressions": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/alt-text": "off",
    "max-len": "off",
    "consistent-return": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "arrow-parens": [1, "as-needed"]
  }
}
